<center> <h2> Assignment # 2 </h2> </center>  
<center> <h3> Perform the basic wrangling on the data <h3> </center>

### Task 1: Importing Files and Libraries
**i. Import Required libraries and Data File**

In [1]:
#write code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

**ii. Read Fifa.csv file**

In [2]:
#write code here
data = pd.read_csv('fifa.csv')

**iii. Copy dataframe in df**

In [3]:
#write code here
dffifa = data.copy()

### Task 2: Some Basic Operations on Data Frame </h3>

**i. Display the first five rows of the dataframe**

In [4]:
#Write Your Code Here
dffifa.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gábor Király,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN

**ii. Display columns names of the dataframe**

In [5]:
#Write Your Code Here
dffifa.columns

Index(['id', ' name', ' rating', ' position', ' height', ' foot', ' rare',
       ' pace', ' shooting', ' passing', ' dribbling', ' defending',
       ' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed',
       ' positioning'],
      dtype='object')

**iii. Remove extra space in column names**

In [6]:
#Write Your Code Here
columns = ['id', ' name', ' rating', ' position', ' height', ' foot', ' rare',
       ' pace', ' shooting', ' passing', ' dribbling', ' defending',
       ' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed',
       ' positioning']
col = []
for i in columns:
    str(i).replace(' ','')
    col.append(i)
print(col)

['id', ' name', ' rating', ' position', ' height', ' foot', ' rare', ' pace', ' shooting', ' passing', ' dribbling', ' defending', ' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed', ' positioning']

**iv. Check data type of columns**

In [7]:
#Write Your Code Here
dffifa.dtypes

id                int64
 name            object
 rating           int64
 position        object
 height           int64
 foot            object
 rare             int64
 pace            object
 shooting        object
 passing         object
 dribbling       object
 defending       object
 heading         object
 diving          object
 handling        object
 kicking         object
 reflexes        object
 speed           object
 positioning    float64
dtype: object

**v. Get the Last five rows of dataframe**

In [8]:
#Write Your Code Here
dffifa.tail()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,,,,,,NaN
8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,,,,,,NaN
8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,,,,,,NaN
8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,,,,,,NaN
8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,,,,,,NaN

### Question: What do you understand by having a look at the top five and last 5 rows of data?

*Hint: Some values are not filled for certain types of positions.*

### Answer:

**vi. Get the statistical summary for the numerical columns**

In [9]:
#Write Your Code Here
dffifa.describe()

                  id       rating       height         rare   positioning
count    8847.000000  8847.000000  8847.000000  8847.000000    930.000000
mean   152337.538035    66.680457   181.750424     0.353114     64.955914
std     54506.606056     7.146679     6.454356     0.477965      8.854231
min         2.000000    40.000000   158.000000     0.000000     37.000000
25%    140001.500000    62.000000   178.000000     0.000000     59.000000
50%    171578.000000    66.000000   182.000000     0.000000     65.000000
75%    189185.000000    72.000000   186.000000     1.000000     71.000000
max    205583.000000    94.000000   208.000000     1.000000     91.000000

**vii. Show the statistical summary of object type columns in dataframe**

In [10]:
#Write Your Code Here
dffifa.describe(include='O')

,name,position,foot,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed
count,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847
unique,8678,4,2,73,80,76,76,64,67,49,45,53,53,54
top,Henrique,M,Right,,,,,,,,,,,
freq,5,3041,6762,930,930,930,930,930,930,7917,7917,7917,7917,7917

**viii. Show the statistical summary of all the columns in dataframe**

In [11]:
#Write Your Code Here
dffifa.describe(include='all')

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
count,8847.000000,8847,8847.000000,8847,8847.000000,8847,8847.000000,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,8847,930.000000
unique,NaN,8678,NaN,4,NaN,2,NaN,73,80,76,76,64,67,49,45,53,53,54,NaN
top,NaN,Henrique,NaN,M,NaN,Right,NaN,,,,,,,,,,,,NaN
freq,NaN,5,NaN,3041,NaN,6762,NaN,930,930,930,930,930,930,7917,7917,7917,7917,7917,NaN
mean,152337.538035,NaN,66.680457,NaN,181.750424,NaN,0.353114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.955914
std,54506.606056,NaN,7.146679,NaN,6.454356,NaN,0.477965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.854231
min,2.000000,NaN,40.000000,NaN,158.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.000000
25%,140001.500000,NaN,62.000000,NaN,178.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000
50%,171578.000000,NaN,66.000000,NaN,182.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.000000
75%,189185.000000,NaN,72.000000,NaN,186.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.000000
max,205583.000000,NaN,94.000000,NaN,208.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.000000

### Task 3: Dealing with Missing Value

**i. Count the number of missing values in each column**

In [12]:
#Write Your Code Here
dffifa.isnull().sum()

id                 0
 name              0
 rating            0
 position          0
 height            0
 foot              0
 rare              0
 pace              0
 shooting          0
 passing           0
 dribbling         0
 defending         0
 heading           0
 diving            0
 handling          0
 kicking           0
 reflexes          0
 speed             0
 positioning    7917
dtype: int64

**ii. Replace extra space with NaN**

In [13]:
#write code here
dffifa.replace(' ', np.nan)

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gábor Király,69,GK,191,Right,0,NaN,NaN,NaN,NaN,NaN,NaN,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,NaN,NaN,NaN,NaN,NaN,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,NaN,NaN,NaN,NaN,NaN,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,NaN,NaN,NaN,NaN,NaN,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,NaN,NaN,NaN,NaN,NaN,NaN
8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,NaN,NaN,NaN,NaN,NaN,NaN
8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,NaN,NaN,NaN,NaN,NaN,NaN
8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,NaN,NaN,NaN,NaN,NaN,NaN
8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,NaN,NaN,NaN,NaN,NaN,NaN

**iii. Fill all null values of dataframe with 0**

In [14]:
#write code here
dffifa.replace('NaN', "0")

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gábor Király,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8842,9801,Danijel Ljuboja,73,A,189,Left,1,62,73,64,74,56,68,,,,,,NaN
8843,9805,Craig Bellamy,79,A,175,Right,0,80,78,67,81,62,71,,,,,,NaN
8844,9807,Michel Breuer,68,D,183,Right,0,61,40,56,51,70,74,,,,,,NaN
8845,9815,Gill Swerts,65,D,179,Right,0,65,48,63,65,67,69,,,,,,NaN
8846,9913,Mehdi Nafti,69,M,179,Right,0,55,56,64,65,69,60,,,,,,NaN

In [15]:
#write code here

**iv. Count the number of players in each position**

In [16]:
#Write Your Code Here

**v. Check datatypes of all columns**

In [17]:
#write code here

**vi. Cast ' pace', ' shooting', ' passing', ' dribbling', ' defending',' heading', ' diving', ' handling', ' kicking', ' reflexes', ' speed',' positioning' into Integer type**

In [18]:
#write code here

In [19]:
#write code here

### Task 4

**You have to split the dataframe into two dataframes, one containing all the features of Goal Keeper and other dataframe contains all other players**

In [20]:
df_goalkeeper= df[df['position'] == 'GK']
df_goalkeeper.head()

NameError: name 'df' is not defined

<span style="color:green">**As you can see that the dataframe is empty and no value has been assigned to it. Let's check out the issue.**</span>

**i. Check unique value of position, there must be a space on each position**

In [ ]:
#Write code here

<span style="color:green">**From the above output, you can see that there is an extra space in the position reffered to as GK.**</span>

**ii. Remove extra space in position column and remove it like ' GK' to 'GK' and then again make dataframe of GK**<br>
*Hint: Use str.replace*

In [ ]:
#Write Code here

**iii. Now make a dataframe of df_goalkeeper.**

In [ ]:
#Write Your Code Here

**iv. Dataframe of goal keeper must and only contain the following columns 'id', 'name', 'rating', 'position', 'height', 'foot',' rare','diving', 'handling', 'kicking', 'reflexes', 'speed','positioning'** <br>
**Drop all the other columns**

In [ ]:
#write code here

In [ ]:
#write code here

**v. Make the dataframe of df_players having data of the all the other players except the goal keeper.**

In [ ]:
#write code here

**vi. Dataframe of other players must contain the following columns 'id', 'name', 'rating', 'position', 'height', 'foot', 'rare',  'pace', 'shooting', 'passing', 'dribbling', 'defending', 'heading'** <br>
**Drop all the other columns**

In [ ]:
#write code here

In [ ]:
#write code here

**vii. Find shape of both the datasets**

In [ ]:
#Write Your Code Here

In [ ]:
#write code here

**viii. Check head of both the splited dataframe**

In [ ]:
#Write Your Code Here

In [ ]:
#Write Your Code Here

**ix. Show the summary stats of both the datasets**

In [ ]:
#Write Your Code Here for summary stats of goal keeper

### Question: What do you understand from the summary statistics of goal keeper?

### Answer:

In [ ]:
#Write Your Code Here for summary stats of players

### Question: What do you understanf from the summary statistics of other players?

### Answer:

### Task 5: Group By and Pivoting

**i. Display averages of each columns according the players' positions**

In [ ]:
#Write Your Code Here

**ii. Count number of players against each position and foot used by them.**    
*Hint: Use Groupby*

In [ ]:
#Write Your Code Here
#Group By Here

**iii. Perform grouping on position and foot to find mean, min and max values of rating. Store the result in a variable called 'a'** <br>
*Hint: Aggregate(mean,min,max) on rating using .agg() method and nested dictionaries* <br>

In [ ]:
#Write Your Code Here

**iv. Perform "PIVOTING" on the dataframe 'df'. The properties should be as following:**<br>
*index = ' position'<br>
columns = ' foot'<br>
values=' rating'<br>
aggfunc=['min','mean']*<br>

In [ ]:
#Write Code Here

# Visualization

### Task 6: Display total players of each position.

In [ ]:
#write code here

**Question: What insights do you get from the above plot?**

### Task 7:  Show the total number of players for each foot type.

In [ ]:
#Write code here

### Task 8. Show 'foot' ditribution per 'rating' using boxplot

In [ ]:
#write code here

**Question: What does the above box plot show?**

### Task 9. Display total number of players for each foot type according to their positions. But the result of each position should be a separate graph yet shown collectively  <br>
*Hint: You can use subplots and you can have a separate dataframe for each postion. Sample code fir subplots is given below:*<br>
*Sample Code 
<br>*
```
fig, ax=plt.subplots(2,2,sharey=True, figsize=(15,8))
sns.countplot(x='rating', data=df_goalkeeper, ax=ax[0,0])
ax[0,0].set_title('Goal keeper')
```

In [ ]:
df['position'].unique()

In [ ]:
df_M=df[df['position']==' M']
df_A=df[df['position']==' A']
df_D=df[df['position']==' D']

In [ ]:
#Write code here

### Task 10: What can be the relationship/correlation  ratings and defending of other players.<br>
*Hint: reg plot*

In [ ]:
#Write code here

**Question: What does the above plot show?**

### Task 11: Plot a graph to show the relationship/correlation among rating and handling of goal keeper. Also the distributions of each should be displayed along with the graph showing the relationship.<br>
*Hint: jointplot*

In [ ]:
#Write code here

### Task 12-a.  Make a heatmap to show correlation among all the columns of the goal keeper dataframe and answer the questions

In [ ]:
#write code here to find the correlation

In [ ]:
#write code here for heatmap

**Question: Which columns/variables/factors are important to determine ratings of goal keepers and why?**

### Task 12-b. Make a heatmap show correlation among all the columns of dataframe having data of all the other players and answer the questions

In [ ]:
# Write the code to find the correlation here

In [ ]:
#write code here for heatmap

**Question: Which columns/variables/factors are important to dertmine ratings of other players and why?**

### Task 13. Show distribution of rating.
*Hint: Use dist plot*

In [ ]:
#write code here

**Question: What insights do you get from the distplot drawn above?**

### Task 14: Show the distribution of ratings of each types of players through KDE plot using distplot() function

In [ ]:
#Write code here

### Task 15: What is the count of rare players in each type of postion?

In [ ]:
#write code here